<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3308/bdhospital</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="db.model.Habitacion"/>
        <mapping class="db.model.HistorialMedico"/>
        <mapping class="db.model.LicenciaProfesional"/>
        <mapping class="db.model.Hospital"/>
        <mapping class="db.model.Doctor"/>
        <mapping class="db.model.Paciente"/>
        <mapping class="db.model.Atiende"/>
    </session-factory>
</hibernate-configuration>